<?xml version="1.0" ?>
<!--
/**
 * Copyright © Avenyra All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="av_currencyapi" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Currency API (currencyapi.com)</item>
                    <item name="class" xsi:type="string">Avenyra\CurrencyApi\Model\Currency\Import\CurrencyApi</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
